<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" configfailurepolicy="continue" verbose="1" parallel="classes" thread-count="3">


    <test name="Quick_test" thread-count="3">
        <classes>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_in.LoginTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_in.ErrorMessagesTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_in.SignInButtonTest"></class>
        </classes>
    </test>
    <test name="Sign_up_DB_use" thread-count="1">
        <classes>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_up.SignUpPersonTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_up.SignUpWithGoogleTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_up.SignUpPersonWithVerifyEmailTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_up.SignUpPersonWithoutVerifyEmailTest"></class>
        </classes>
    </test>
    <test name="Sign_up_simple" thread-count="3">
        <classes>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_up.CloseSignUpPopUpTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_up.SignUpErrorMessageTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.sign_up.SignUpVisibilityOfInputPasswordTest"></class>
        </classes>
    </test>
    <test name="Orders_tests" thread-count="3">
        <classes>
            <class name="com.ita.edu.greencity.tests.ui.pages.orders.AddNewAddressTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.orders.ErrorMessagesInPersonalDataPage"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.orders.OrderDetailsPageTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.orders.OrderPageConfirmationTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.orders.PaymentByFondyTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.orders.SelectRegionAfterSignInTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.orders.SelectRegionLocalizationTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.orders.ValidationOfCommentTest"></class>
        </classes>
    </test>
    <test name="User_data" thread-count="5">
        <classes>
            <class name="com.ita.edu.greencity.tests.ui.pages.user_data.EditAddressDataTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.user_data.EditPersonalDataTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.user_data.LocalizationUserDataPageTest"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.user_data.VerifyMessageChangePassword"></class>
            <class name="com.ita.edu.greencity.tests.ui.pages.user_data.ChangeCurrentPassword"></class>
        </classes>
    </test>
    <test name="Admin_customers" thread-count="1">
        <classes>
            <class name="com.ita.edu.greencity.tests.ui.pages.admin.customers.AdminCustomersTest"></class>
              </classes>
    </test>


    <!--<test name="UI Tests" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.ita.edu.teachua.ui.tests.RestorePasswordViaGmailApiTest"/>
        </classes>
    </test>-->
</suite>